@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

header{
    width: 100%;
}
.container{
    padding: 15px 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #navbar{
    width: 100%;
    background-color: white;
}

ul{
    display: flex;
    gap: 30px;
    padding-right: 177px;
}

ul li{
    list-style: none;
    font-size: 0.875rem;
    font-weight: 500;
    white-space:nowrap;
}

#navbar .logo{
    width: 193px;
    height: auto;
}
#animation-block{
    background-color: #222;
}

#location-aria{
    width: auto;
    background-color: #f1f1f1;
    height: 41px;
    padding-left: 166px;
}

#location-aria p{
padding-top: 1px;
}
.para-location-gap{
    display: flex;
    gap: 15px;
}