


@import url("./js/component/navbar.css");

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    
}



.w-full{
    width: 100%;
};

.text-white{
    color: white;
}

.h-35{
    height: 35px;
}
.text-sm{
    font-size: 12px
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}